.container
{
  background-color: cadetblue;
  width:500px;
  height: auto;
  padding: 3%;
  margin: 50px auto;
  border-radius: 10px;
}
.container>.todolist>.todoitem
{
  list-style-type: none;
  color: orange;
}
.todolist>.todoitem>.delete_image{
  margin-right:5px;
}
.container form>input[type="text"]{
   float: right;
}
