table{
    border-collapse: collapse;
    margin:10px auto;
    width: 40%;    
}
table>thead th,table>tbody td{
     border: 1px solid #ddd;
}
table>thead{
    background-color: orange;    
}
table>thead th{
    padding: 10px;
}
table>tbody td{
    padding: 6px;
}
table>tbody>tr:nth-child(even){
    background-color:lightgray;
}